<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>{% block title %}{{ title.id }}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% set greeting = 'Hello ' %}
    {% set name = title2 %}

    {{ greeting ~ title2|upper }}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>